__pycache__/
*.py[cod]
*.pyo
.DS_Store
.pytest_cache/
.mypy_cache/
.env
*.key
Result/
Response/
results/
logs/
*.log
~/cache/
*/~/cache/
offload/
*/offload/
models/
checkpoints/
data/
*.tar
*.tar.gz
*.zip

legacy_initial_repository/
